<footer class="footer">
    <div class="footer-container">
        <div class="footer-coloum-one">
            <h1 class="footer-main-heading">Agencia Digital</h1>
            <p class="footer-coloum-one-description">
                GoldenWeb, tu aliado en soluciones digitales avanzadas, dedicados a impulsar tu presencia en línea y
                promover el crecimiento de tu negocio.
            </p>
        </div>
        <div class="footer-coloum-two">
            <h1 class="footer-main-heading">Empresa</h1>
            <div class="footer-one-menu">
                <i class="fa fa-angle-double-right footer-angle"><a href="#">Centro de Ayuda</a></i>
                <i class="fa fa-angle-double-right footer-angle"><a href="#">Sobre Nosotros</a></i>
                <i class="fa fa-angle-double-right footer-angle"><a href="#">Blog</a></i>
                <i class="fa fa-angle-double-right footer-angle"><a href="#">Preguntas Frecuentes</a></i>
            </div>
        </div>
        <div class="footer-coloum-three">
            <h1 class="footer-main-heading">Privacidad</h1>

            <div class="footer-one-menu">
                <i class="fa fa-angle-double-right footer-angle"><a href="#">Términos y Condiciones</a></i>
                <i class="fa fa-angle-double-right footer-angle"><a href="#">Soporte</a></i>
                <i class="fa fa-angle-double-right footer-angle"><a href="#">Expertos</a></i>
                <i class="fa fa-angle-double-right footer-angle"><a href="#">Política de Privacidad</a></i>
            </div>
        </div>
        <div class="footer-coloum-four">
            <h1 class="footer-main-heading">Contáctanos</h1>
            <div class="footer-contact">
                <i class="fa fa-envelope"></i><span>supportgoldenweb.com</span>
            </div>
            <div class="footer-contact">
                <i class="fa fa-phone"></i><span>+923000000000</span>
            </div>
            <div class="footer-contact">
                <i class="fa fa-globe"></i><span>supportgoldenweb.com</span>
            </div>
            <div class="footer-contact">
                <a href=""><i class="fa fa-facebook footer-icon"></i></a>
                <a href=""><i class="fa fa-twitter footer-icon"></i></a>
                <a href=""><i class="fa fa-linkedin footer-icon"></i></a>
                <a href=""><i class="fa fa-pinterest footer-icon"></i></a>
            </div>

        </div>
    </div>
    <div class="footer-line">
        <hr>
    </div>
    <div class="footer-underline-menu">
        <div class="footer-credit">
            <span>Diseñado por:<a href="#">Daniel Roa</a></span>
        </div>
        <div class="footer-underline-menu-items">
            <a href="#">Términos de Uso</a>
            <a href="#">Portafolio</a>
            <a href="#">Política de Privacidad</a>
            <a href="#">Contáctanos</a>
            <a href="#">Preguntas Frecuentes</a>
        </div>
    </div>
</footer>