<main>
    <div class="hero-container" data-aos="fade-in">
      <div class="main-container">
        <div class="heading-container">
          <h1 class="main-heading" data-aos="fade-right">
            Soluciones Digitales Innovadoras con <span class="colorfull">Inteligencia Artificial</span>
          </h1>
  
          <p class="text-description" data-aos="fade-left">
            GoldenWeb lidera la transformación digital con desarrollos
            web avanzados, aplicaciones móviles personalizadas, soluciones
            de software y estrategias de marketing inteligentes impulsadas
            por IA.
          </p>
          <div class="call-to-action" data-aos="fade-right">
            <a href="" class="btn">Get Started</a>
            <a href="" class="watch-btn"> <i class="fa fa-play-circle"></i>Watch Video</a>
          </div>
        </div>
      </div>
      <div class="image-container" data-aos="fade-left">
        <img src="../assets/img/hero-image.svg" alt="" class="hero-img">
      </div>
    </div>
  </main>
<!--End Hero Session-->

<!--Client Session-->
<section class="client" data-aos="fade-down">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="container rounded" data-aos="fade-up">
                <h1 class="text-center" data-aos="fade-right">Dominamos la Vanguardia Tecnológica</h1>
                <p class="services-icon3" data-aos="fade-left">
                    <b>En GoldenWeb, fusionamos innovación con excelencia técnica.
                    Descubre las tecnologías punteras que impulsan nuestras
                    soluciones digitales.</b>
                </p>
                <div class="slider" data-aos="fade-up">
                    <div class="logos">
                        <i class="fa"><img src="../assets/img/icons/367627_html_html5_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/7422531_css3_css_file_development_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/9040434_filetype_scss_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/4691347_php_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/4691213_python_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/8666389_java_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/11120662_fi_brands_typescript_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/9035061_logo_javascript_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/frameworks/11120494_fi_brands_delphi_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/frameworks/4691206_electron_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/frameworks/4691465_flutter_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/frameworks/4691504_angular_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/frameworks/8666372_react_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/frameworks/9035058_logo_ionic_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/frameworks/1012818_code_development_logo_nodejs_icon.png" class="iconxxx"></i>
                        <i class="fa"><img src="../assets/img/icons/frameworks/9055848_bxl_django_icon.png" class="iconxxx"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--End Client Session-->

<!--Sección Sobre Nosotros-->
<section class="about" data-aos="fade-up">
    <div class="about-container">
        <div class="about-image" data-aos="fade-right">
            <img src="../assets/img/about.svg" class="about-img" alt="imagen sobre nosotros">
        </div>
        <div class="about-text" data-aos="fade-left">
            <div class="about-us-items">
                <h4 class="about-main-heading" data-aos="fade-up">Sobre GoldenWeb</h4>
                <h5 class="about-description" data-aos="fade-up">
                    Innovación y excelencia en soluciones digitales con IA.
                </h5>
                <div class="about-feature">
                    <div class="about-feature-one" data-aos="fade-up">
                        <span><i class="fa fa-search about-icon"></i> </span>
                        <span class="about-feature-items">
                            La mejor optimización de motores de búsqueda a nivel mundial
                        </span>
                    </div>
                    <div class="about-feature-one" data-aos="fade-up" data-aos-delay="100">
                        <span><i class="fa fa-file about-icon"></i> </span>
                        <span class="about-feature-items">
                            Escritores de contenido creativos y profesionales
                        </span>
                    </div>
                    <div class="about-feature-one" data-aos="fade-up" data-aos-delay="200">
                        <span><i class="fa fa-bar-chart about-icon"></i> </span>
                        <span class="about-feature-items">
                            Lleva el crecimiento de tu negocio al siguiente nivel
                        </span>
                    </div>
                    <a href="contact" class="about-btn" data-aos="fade-up">Contáctanos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Fin de la Sección Sobre Nosotros-->


<!-- Sección de Servicios -->
<section class="services" data-aos="fade-up">
    <div class="services-container">
        <div class="services-text">
            <div class="services-text-detail" data-aos="fade-right">
                <h1 class="services-heading">
                    Lo que Hacemos
                </h1>
                <h3 class="services-sub-heading">
                    Elige lo que más te guste de nuestros <span class="colorfull">Mejores Servicios</span>
                </h3>
                <p class="services-heading-detail">
                    En GoldenWeb, nos especializamos en una amplia gama de servicios
                    digitales. Desde estrategias de <strong>Marketing Digital</strong>
                    que aprovechan las tecnologías web más avanzadas, hasta técnicas de
                    <strong>SEO</strong> para maximizar la visibilidad y el
                    posicionamiento en motores de búsqueda. Ofrecemos <strong>
                        diseño UI/UX</strong> para crear experiencias de usuario
                    excepcionales, mientras que nuestro equipo de <strong>desarrollo
                        web</strong> se enfoca en construir sitios web optimizados
                    y de alto rendimiento. Nuestra expertise también incluye
                    el <strong>desarrollo de aplicaciones móviles</strong>
                    intuitivas y eficientes, y estamos a la vanguardia de
                    la <strong>inteligencia artificial</strong>,
                    implementando soluciones que automatizan procesos y
                    mejoran la toma de decisiones. Descubre cómo podemos
                    impulsar tu presencia digital y llevar tu negocio al
                    siguiente nivel.
                </p>
                <a href="" class="services-btn" data-aos="fade-up">Explorar todos los servicios</a>
            </div>
        </div>
        <div class="services-items">
            <div class="services-list">
                <!--primer servicio-->
                <div class="services-list-items" data-aos="fade-up" data-aos-delay="100">
                    <img src="https://www.svgrepo.com/download/66257/goal.svg" class="services-icon" alt="">
                    <h1 class="services-list-heading">
                        Marketing Digital
                    </h1>
                    <p class="services-list-detail">
                        El marketing digital es un componente del marketing que utiliza internet y tecnologías
                        digitales basadas en la web.
                    </p>
                    <a href="http://" class="services-link">Ver Más <i
                            class="fa fa-arrow-right services-link-icon"></i></a>
                </div>
                <!--primer servicio-->

                <!--segundo servicio-->
                <div class="services-list-items" data-aos="fade-up" data-aos-delay="200">
                    <img src="https://www.svgrepo.com/show/220473/seo.svg" class="services-icon" alt="">
                    <h1 class="services-list-heading">
                        SEO
                    </h1>
                    <p class="services-list-detail">
                        El SEO mejora la visibilidad y el posicionamiento de tu sitio web en los motores de
                        búsqueda.
                    </p>
                    <a href="http://" class="services-link">Ver Más <i
                            class="fa fa-arrow-right services-link-icon"></i></a>
                </div>
                <!--segundo servicio-->

                <!--tercer servicio-->
                <div class="services-list-items" data-aos="fade-up" data-aos-delay="300">
                    <img src="https://www.ux-ui.net/ux/uploads/2017/03/ux-ui-logo.svg" class="services-icon" alt="">
                    <h1 class="services-list-heading">
                        Diseño UI/UX
                    </h1>
                    <p class="services-list-detail">
                        Diseño UI/UX enfocado en la creación de experiencias de usuario excepcionales y interfaces
                        atractivas.
                    </p>
                    <a href="http://" class="services-link-colorfull">Ver Más <i
                            class="fa fa-arrow-right services-link-icon"></i></a>
                </div>
                <!--tercer servicio-->

                <!--cuarto servicio-->
                <div class="services-list-items" data-aos="fade-up" data-aos-delay="400">
                    <img src="https://www.svgrepo.com/download/1699/web-development.svg" class="services-icon"
                        alt="">
                    <h1 class="services-list-heading">
                        Desarrollo Web
                    </h1>
                    <p class="services-list-detail">
                        Creación de sitios web que destacan por su diseño, funcionalidad y optimización,
                        aprovechando las últimas tecnologías y tendencias.
                    </p>
                    <a href="http://" class="services-link">Ver Más <i
                            class="fa fa-arrow-right services-link-icon"></i></a>
                </div>
                <!--cuarto servicio-->

                <!--quinto servicio-->
                <div class="services-list-items" data-aos="fade-up" data-aos-delay="500">
                    <img src="../assets/img/smartphone.png" class="services-icon2" alt="">
                    <h1 class="services-list-heading">
                        Aplicaciones Móviles
                    </h1>
                    <p class="services-list-detail">
                        Desarrollo de aplicaciones móviles intuitivas, eficientes y seguras, tanto para iOS como
                        para Android.
                    </p>
                    <a href="http://" class="services-link-colorfull">Ver Más <i
                            class="fa fa-arrow-right services-link-icon"></i></a>
                </div>
                <!--quinto servicio-->

                <!--sexto servicio-->
                <div class="services-list-items" data-aos="fade-up" data-aos-delay="600">
                    <img src="../assets/img/ia.png" class="services-icon2" alt="">
                    <h1 class="services-list-heading">
                        Inteligencia Artificial
                    </h1>
                    <p class="services-list-detail">
                        Implementación de soluciones de IA para automatizar procesos, mejorar la toma de decisiones
                        y ofrecer experiencias de usuario excepcionales.
                    </p>
                    <a href="http://" class="services-link">Ver Más <i
                            class="fa fa-arrow-right services-link-icon"></i></a>
                </div>
                <!--sexto servicio-->
            </div>
        </div>
    </div>
</section>

<!-- Fin de la Sección de Servicios -->


<!--Sección Por Qué Elegirnos-->
<section class="choose-us" data-aos="fade-up">
    <div class="choose-us-container">
        <div class="choose-us-image" data-aos="fade-right">
            <img src="../assets/img/why-choose.svg" alt="por qué elegirnos" class="choose-us-img">
        </div>
        <div class="choose-us-items">
            <div class="choose-us-text" data-aos="fade-left">
                <h1 class="choose-us-heading" data-aos="fade-up">Elige GoldenWeb</h1>
                <h3 class="choose-us-title" data-aos="fade-up">¿Por Qué <span class="colorfull">Elegirnos</span>?</h3>
                <p class="choose-us-description" data-aos="fade-up">
                    En GoldenWeb combinamos innovación y experiencia para ofrecer soluciones digitales de
                    vanguardia. Nuestro compromiso con la excelencia y nuestro enfoque personalizado nos convierten
                    en el socio ideal para impulsar tu transformación digital.
                </p>
                <div class="choose-us-list-div" data-aos="fade-up">
                    <div class="choose-us-items-list" data-aos="fade-up" data-aos-delay="100">
                        <span style="color:#FFC727;font-weight: bolder;">7+</span>
                        <span>Años de Experiencia</span>
                    </div>

                    <div class="choose-us-items-list" data-aos="fade-up" data-aos-delay="200">
                        <span style="color:rgb(248, 79, 1);font-weight: bolder;">500+</span>
                        <span>Proyectos Realizados</span>
                    </div>
                    <div class="choose-us-items-list" data-aos="fade-up" data-aos-delay="300">
                        <span style="color:rgb(248, 79, 1);font-weight: bolder;">50+</span>
                        <span>Asociados</span>
                    </div>

                    <div class="choose-us-items-list" data-aos="fade-up" data-aos-delay="400">
                        <span style="color:#FFC727;font-weight: bolder;">24/7</span>
                        <span>Soporte</span>
                    </div>
                    <div class="choose-us-list-div" data-aos="fade-up"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Fin Sección Por Qué Elegirnos-->


<!-- Sección de Crecimiento Empresarial -->
<section class="growth" data-aos="fade-up">
    <div class="growth-container">
        <div class="growth-text" data-aos="fade-right">
            <div class="growth-text-detail">
                <h1 class="growth-heading">
                    Impulsa Tu Negocio
                </h1>
                <h3 class="growth-sub-heading">
                    El <span class="colorfull">Marketing Digital</span> es la Parte Más Poderosa Para Crecer Tu
                    <span class="colorfull">Capacidad Empresarial</span>
                </h3>
                <p class="growth-heading-detail">
                    En GoldenWeb, utilizamos marketing digital y tecnologías innovadoras para promocionar productos
                    y servicios, conectando tu marca con el público objetivo y fomentando un crecimiento empresarial
                    sostenible.
                </p>
                <a href="" class="growth-btn" data-aos="fade-up">Descubre Más</a>
            </div>
        </div>
        <div class="growth-image" data-aos="fade-left">
            <img src="../assets/img/growth.svg" class="growth-img" alt="">
        </div>
    </div>
</section>

<!-- Fin de la Sección de Crecimiento Empresarial -->

<!-- Sección de Retroalimentación -->
<section class="feedback" data-aos="fade-in">
    <div class="feedback-heading" data-aos="fade-left">
        <h1 class="feedback-main-heading">Testimonios de <span class="colorfull">Nuestros Clientes</span></h1>
        <p class="feedback-sub-heading">Nuestros clientes hablan por nosotros: descubre cómo nuestro enfoque
            personalizado y nuestras soluciones innovadoras impulsan su éxito.</p>
    </div>
    <div class="feedback-container" data-aos="fade-right">
        <div class="feedback-image" data-aos="fade-right">
            <img src="../assets/img/feedback.svg" class="feedback-img" alt="">
        </div>
        <div class="feedback-text-container">
            <!--Feedback 1-->
            <div class="client-feedback active" data-aos="fade-up" data-aos-delay="100">
                <img src="https://freesvg.org/img/16231558095-star-rating.png" class="client-rating" alt="">
                <p class="feedback-rating-heading">El enfoque innovador de GoldenWeb en marketing digital ha
                    transformado nuestra presencia en línea, llevando nuestro negocio al siguiente nivel.</p>
                <h4 class="client-name">Sra. Mofiza</h4>
                <h6 class="client-title">Directora General</h6>
            </div>
            <!--End Feedback 1-->

            <!--Feedback 2-->
            <div class="client-feedback" data-aos="fade-up" data-aos-delay="200">
                <img src="https://freesvg.org/img/16231558095-star-rating.png" class="client-rating" alt="">
                <p class="feedback-rating-heading">GoldenWeb ha sido un socio estratégico clave, ayudando a mejorar
                    nuestro SEO y diseño UI/UX, lo que resultó en una mejor experiencia de usuario y mayor
                    engagement.</p>
                <h4 class="client-name">Daniel Roa</h4>
                <h6 class="client-title">CEO & fundador</h6>
            </div>
            <!--End Feedback 2-->

            <!--Feedback 3-->
            <div class="client-feedback" data-aos="fade-up" data-aos-delay="300">
                <img src="https://freesvg.org/img/16231558095-star-rating.png" class="client-rating" alt="">
                <p class="feedback-rating-heading">La implementación de soluciones de inteligencia artificial por
                    parte de GoldenWeb ha revolucionado la forma en que manejamos nuestros procesos internos y la
                    toma de decisiones.</p>
                <h4 class="client-name">Sra. Majid</h4>
                <h6 class="client-title">Recursos Humanos</h6>
            </div>
            <!--End Feedback 3-->
        </div>
    </div>
</section>
<div class="whatsapp-bubble" id="whatsappBubble">
    <a href="https://wa.me/56934902591" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    </a>
</div>




