<div class="topnav" id="myTopnav">
    <div class="logo-container">
        <img src="assets/img/logo_sin_fondo.png" alt="Logo de GoldenWeb" width="100" height="100">
        <a href="#logo" class="logo-text">GoldenWeb</a>
    </div>
    <div class="menu-items">
        <a href="hero">Inicio</a>
        <a href="#features">Features</a>
        <a href="#pricing">Precios y Planes</a>
        <a href="#services">Servicios</a>
        <a href="#about">Nosotros</a>
        <a href="contact" class="sign-up-btn" style="color: white;">Contactanos</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
