<section class="newsletter">
    <div class="newsletter-container">
        <div class="container">
            <div class="row">
                <h2>Contacto</h2>
                <form id="contact-form" action="https://formsubmit.co/vce923@gmail.com" method="POST">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="name" required>
                    
                    <label for="correo">Correo electrónico:</label>
                    <input type="email" id="correo" name="email" required>
                    
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="message" required></textarea>
                    
                    <button type="submit">Enviar</button>
                </form>
                <div id="form-messages"></div> <!-- Espacio para el mensaje de confirmación -->
            </div>
        </div>
    </div>
</section>
