

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoldenWeb - Soluciones Digitales Avanzadas</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <script src="../assets/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="100x100" href="../assets/img/logo_sin_fondo.png">
    <script src="https://kit.fontawesome.com/e1a8570499.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <div class="logo-container">
            <img src="../assets/img/logo_sin_fondo.png" alt="Logo de GoldenWeb" width="100" height="100">
            <a href="#logo" class="logo-text">GoldenWeb</a>
        </div>
        
        <div class="menu-items">
            <a href="#home">Inicio</a>
            <a href="#about">Features</a>
            <a href="#about">Precios y Planes</a>
            <a href="#contact">Servicios</a>
            <a href="#contact">Nosotros</a>
            <a href="#contact" class="sign-up-btn" style="color: white;">Contactanos</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <!--Hero Session-->
    <main>
        <div class="hero-container">
            <div class="main-container">
                <div class="heading-container">
                    <h1 class="main-heading">
                        Soluciones Digitales Innovadoras con <span class="colorfull">Inteligencia Artificial</span>
                    </h1>

                    <p class="text-description">
                        GoldenWeb lidera la transformación digital con desarrollos
                        web avanzados, aplicaciones móviles personalizadas, soluciones
                        de software y estrategias de marketing inteligentes impulsadas
                        por IA.
                    </p>
                    <div class="call-to-action">
                        <a href="" class="btn">Get Started</a>
                        <a href="" class="watch-btn"> <i class="fa fa-play-circle"></i>Watch Video</a>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="../assets/img/hero-image.svg" alt="" class="hero-img">
            </div>
        </div>
    </main>
    <!--End Hero Session-->

    <!--Client Session-->
    <section class="client">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="container rounded">
                    <h1 class="text-center">Dominamos la Vanguardia Tecnológica</h1>
                    <p class="services-icon3"> <b>
                            En GoldenWeb, fusionamos innovación con excelencia técnica.
                            Descubre las tecnologías punteras que impulsan nuestras
                            soluciones digitales.
                        </b></p>
                    <div class="slider">
                        <div class="logos">
                            <i class="fa"><img src="../assets/img/icons/367627_html_html5_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/7422531_css3_css_file_development_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/9040434_filetype_scss_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/4691347_php_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/4691213_python_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/8666389_java_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/11120662_fi_brands_typescript_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/9035061_logo_javascript_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/frameworks/11120494_fi_brands_delphi_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/frameworks/4691206_electron_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/frameworks/4691465_flutter_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/frameworks/4691504_angular_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/frameworks/8666372_react_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/frameworks/9035058_logo_ionic_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/frameworks/1012818_code_development_logo_nodejs_icon.png" class="iconxxx"></i>
                            <i class="fa"><img src="../assets/img/icons/frameworks/9055848_bxl_django_icon.png" class="iconxxx"></i>

                        </div>                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Client Session-->

    <!--Sección Sobre Nosotros-->
    <section class="about">
        <div class="about-container">
            <div class="about-image">
                <img src="../assets/img/about.svg" class="about-img" alt="imagen sobre nosotros">
            </div>
            <div class="about-text">
                <div class="about-us-items">
                    <h4 class="about-main-heading">
                        Sobre GoldenWeb
                    </h4>
                    <h5 class="about-description">
                        Innovación y excelencia en soluciones digitales con IA.
                    </h5>
                    <div class="about-feature">
                        <div class="about-feature-one">
                            <span><i class="fa fa-search about-icon"></i> </span>
                            <span class="about-feature-items">
                                La mejor optimización de motores de búsqueda a nivel mundial
                            </span>
                        </div>
                        <div class="about-feature-one">
                            <span><i class="fa fa-file about-icon"></i> </span>
                            <span class="about-feature-items">
                                Escritores de contenido creativos y profesionales
                            </span>
                        </div>
                        <div class="about-feature-one">
                            <span><i class="fa fa-bar-chart about-icon"></i> </span>
                            <span class="about-feature-items">
                                Lleva el crecimiento de tu negocio al siguiente nivel
                            </span>
                        </div>
                        <a href="" class="about-btn">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Fin de la Sección Sobre Nosotros-->


    <!-- Sección de Servicios -->
    <section class="services">
        <div class="services-container">
            <div class="services-text">
                <div class="services-text-detail">
                    <h1 class="services-heading">
                        Lo que Hacemos
                    </h1>
                    <h3 class="services-sub-heading">
                        Elige lo que más te guste de nuestros <span class="colorfull">Mejores Servicios</span>
                    </h3>
                    <p class="services-heading-detail">
                        En GoldenWeb, nos especializamos en una amplia gama de servicios
                        digitales. Desde estrategias de <strong>Marketing Digital</strong>
                        que aprovechan las tecnologías web más avanzadas, hasta técnicas de
                        <strong>SEO</strong> para maximizar la visibilidad y el
                        posicionamiento en motores de búsqueda. Ofrecemos <strong>
                            diseño UI/UX</strong> para crear experiencias de usuario
                        excepcionales, mientras que nuestro equipo de <strong>desarrollo
                            web</strong> se enfoca en construir sitios web optimizados
                        y de alto rendimiento. Nuestra expertise también incluye
                        el <strong>desarrollo de aplicaciones móviles</strong>
                        intuitivas y eficientes, y estamos a la vanguardia de
                        la <strong>inteligencia artificial</strong>,
                        implementando soluciones que automatizan procesos y
                        mejoran la toma de decisiones. Descubre cómo podemos
                        impulsar tu presencia digital y llevar tu negocio al
                        siguiente nivel.
                    </p>
                    <a href="" class="services-btn">Explorar todos los servicios</a>
                </div>
            </div>
            <div class="services-items">
                <div class="services-list">
                    <!--primer servicio-->
                    <div class="services-list-items">
                        <img src="https://www.svgrepo.com/download/66257/goal.svg" class="services-icon" alt="">
                        <h1 class="services-list-heading">
                            Marketing Digital
                        </h1>
                        <p class="services-list-detail">
                            El marketing digital es un componente del marketing que utiliza internet y tecnologías
                            digitales basadas en la web.
                        </p>
                        <a href="http://" class="services-link">Ver Más <i
                                class="fa fa-arrow-right services-link-icon"></i></a>
                    </div>
                    <!--primer servicio-->

                    <!--segundo servicio-->
                    <div class="services-list-items">
                        <img src="https://www.svgrepo.com/show/220473/seo.svg" class="services-icon" alt="">
                        <h1 class="services-list-heading">
                            SEO
                        </h1>
                        <p class="services-list-detail">
                            El SEO mejora la visibilidad y el posicionamiento de tu sitio web en los motores de
                            búsqueda.
                        </p>
                        <a href="http://" class="services-link">Ver Más <i
                                class="fa fa-arrow-right services-link-icon"></i></a>
                    </div>
                    <!--segundo servicio-->

                    <!--tercer servicio-->
                    <div class="services-list-items">
                        <img src="https://www.ux-ui.net/ux/uploads/2017/03/ux-ui-logo.svg" class="services-icon" alt="">
                        <h1 class="services-list-heading">
                            Diseño UI/UX
                        </h1>
                        <p class="services-list-detail">
                            Diseño UI/UX enfocado en la creación de experiencias de usuario excepcionales y interfaces
                            atractivas.
                        </p>
                        <a href="http://" class="services-link-colorfull">Ver Más <i
                                class="fa fa-arrow-right services-link-icon"></i></a>
                    </div>
                    <!--tercer servicio-->

                    <!--cuarto servicio-->
                    <div class="services-list-items">
                        <img src="https://www.svgrepo.com/download/1699/web-development.svg" class="services-icon"
                            alt="">
                        <h1 class="services-list-heading">
                            Desarrollo Web
                        </h1>
                        <p class="services-list-detail">
                            Creación de sitios web que destacan por su diseño, funcionalidad y optimización,
                            aprovechando las últimas tecnologías y tendencias.
                        </p>
                        <a href="http://" class="services-link">Ver Más <i
                                class="fa fa-arrow-right services-link-icon"></i></a>
                    </div>
                    <!--cuarto servicio-->

                    <!--quinto servicio-->
                    <div class="services-list-items">
                        <img src="../assets/img/smartphone.png" class="services-icon2" alt="">
                        <h1 class="services-list-heading">
                            Aplicaciones Móviles
                        </h1>
                        <p class="services-list-detail">
                            Desarrollo de aplicaciones móviles intuitivas, eficientes y seguras, tanto para iOS como
                            para Android.
                        </p>
                        <a href="http://" class="services-link-colorfull">Ver Más <i
                                class="fa fa-arrow-right services-link-icon"></i></a>
                    </div>
                    <!--quinto servicio-->

                    <!--sexto servicio-->
                    <div class="services-list-items">
                        <img src="../assets/img/ia.png" class="services-icon2" alt="">
                        <h1 class="services-list-heading">
                            Inteligencia Artificial
                        </h1>
                        <p class="services-list-detail">
                            Implementación de soluciones de IA para automatizar procesos, mejorar la toma de decisiones
                            y ofrecer experiencias de usuario excepcionales.
                        </p>
                        <a href="http://" class="services-link">Ver Más <i
                                class="fa fa-arrow-right services-link-icon"></i></a>
                    </div>
                    <!--sexto servicio-->
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de la Sección de Servicios -->


    <!--Sección Por Qué Elegirnos-->
    <section class="choose-us">
        <div class="choose-us-container">
            <div class="choose-us-image">
                <img src="../assets/img/why-choose.svg" alt="por qué elegirnos" class="choose-us-img">
            </div>
            <div class="choose-us-items">
                <div class="choose-us-text">
                    <h1 class="choose-us-heading">
                        Elige GoldenWeb
                    </h1>
                    <h3 class="choose-us-title">¿Por Qué <span class="colorfull">Elegirnos</span>?</h3>
                    <p class="choose-us-description">
                        En GoldenWeb combinamos innovación y experiencia para ofrecer soluciones digitales de
                        vanguardia. Nuestro compromiso con la excelencia y nuestro enfoque personalizado nos convierten
                        en el socio ideal para impulsar tu transformación digital.
                    </p>
                    <div class="choose-us-list-div">
                        <div class="choose-us-items-list">
                            <span style="color:#FFC727;font-weight: bolder;">7+</span>
                            <span>Años de Experiencia</span>
                        </div>

                        <div class="choose-us-items-list">
                            <span style="color:rgb(248, 79, 1);font-weight: bolder;">500+</span>
                            <span>Proyectos Realizados</span>
                        </div>
                        <div class="choose-us-items-list">
                            <span style="color:rgb(248, 79, 1);font-weight: bolder;">50+</span>
                            <span>Asociados</span>
                        </div>

                        <div class="choose-us-items-list">
                            <span style="color:#FFC727;font-weight: bolder;">24/7</span>
                            <span>Soporte</span>
                        </div>
                        <div class="choose-us-list-div"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Fin Sección Por Qué Elegirnos-->


    <!-- Sección de Crecimiento Empresarial -->
    <section class="growth">
        <div class="growth-container">
            <div class="growth-text">
                <div class="growth-text-detail">
                    <h1 class="growth-heading">
                        Impulsa Tu Negocio
                    </h1>
                    <h3 class="growth-sub-heading">
                        El <span class="colorfull">Marketing Digital</span> es la Parte Más Poderosa Para Crecer Tu
                        <span class="colorfull">Capacidad Empresarial</span>
                    </h3>
                    <p class="growth-heading-detail">
                        En GoldenWeb, utilizamos marketing digital y tecnologías innovadoras para promocionar productos
                        y servicios, conectando tu marca con el público objetivo y fomentando un crecimiento empresarial
                        sostenible.
                    </p>
                    <a href="" class="growth-btn">Descubre Más</a>
                </div>
            </div>
            <div class="growth-image">
                <img src="../assets/img/growth.svg" class="growth-img" alt="">
            </div>
        </div>
    </section>
    <!-- Fin de la Sección de Crecimiento Empresarial -->

    <!-- Sección de Retroalimentación -->
    <section class="feedback">
        <div class="feedback-heading">
            <h1 class="feedback-main-heading">Testimonios de <span class="colorfull">Nuestros Clientes</span></h1>
            <p class="feedback-sub-heading">Nuestros clientes hablan por nosotros: descubre cómo nuestro enfoque
                personalizado y nuestras soluciones innovadoras impulsan su éxito.</p>
        </div>
        <div class="feedback-container">
            <div class="feedback-image">
                <img src="../assets/img/feedback.svg" class="feedback-img" alt="">
            </div>
            <div class="feedback-text-container">
                <!--Feedback 1-->
                <div class="client-feedback">
                    <img src="https://freesvg.org/img/16231558095-star-rating.png" class="client-rating" alt="">
                    <p class="feedback-rating-heading">El enfoque innovador de GoldenWeb en marketing digital ha
                        transformado nuestra presencia en línea, llevando nuestro negocio al siguiente nivel.</p>
                    <h4 class="client-name">Sra. Mofiza</h4>
                    <h6 class="client-title">Directora General</h6>
                    <div class="feedback-arrow">
                        <div class="left-arrow" onclick="showFeedback('back')">
                            <i class="fa fa-arrow-left"></i>
                        </div>
                        <div class="right-arrow" onclick="showFeedback('next')">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <!--End Feedback 1-->

                <!--Feedback 2-->
                <div class="client-feedback" style="display:none;">
                    <img src="https://freesvg.org/img/16231558095-star-rating.png" class="client-rating" alt="">
                    <p class="feedback-rating-heading">GoldenWeb ha sido un socio estratégico clave, ayudando a mejorar
                        nuestro SEO y diseño UI/UX, lo que resultó en una mejor experiencia de usuario y mayor
                        engagement.</p>
                    <h4 class="client-name">Daniel Roa</h4>
                    <h6 class="client-title">CEO & fundador</h6>
                    <div class="feedback-arrow">
                        <div class="left-arrow" onclick="showFeedback('back')">
                            <i class="fa fa-arrow-left"></i>
                        </div>
                        <div class="right-arrow" onclick="showFeedback('next')">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <!--End Feedback 2-->

                <!--Feedback 3-->
                <div class="client-feedback" style="display: none;">
                    <img src="https://freesvg.org/img/16231558095-star-rating.png" class="client-rating" alt="">
                    <p class="feedback-rating-heading">La implementación de soluciones de inteligencia artificial por
                        parte de GoldenWeb ha revolucionado la forma en que manejamos nuestros procesos internos y la
                        toma de decisiones.</p>
                    <h4 class="client-name">Sra. Majid</h4>
                    <h6 class="client-title">Recursos Humanos</h6>
                    <div class="feedback-arrow">
                        <div class="left-arrow" onclick="showFeedback('back')">
                            <i class="fa fa-arrow-left"></i>
                        </div>
                        <div class="right-arrow" onclick="showFeedback('next')">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <!--End Feedback 3-->
            </div>
        </div>
    </section>
    <!--Fin de la Sección de Retroalimentación -->


    <!--Sección de Boletín Informativo-->
    <section class="newsletter">
        <div class="newsletter-container">
            <h1 class="newsletter-heading">
                Boletín Informativo
            </h1>
            <h4 class="newsletter-sub-heading">
                Suscríbete a Nuestra Lista de Correo para Recibir Nuestro Último <span class="colorfull">Boletín
                    Informativo</span>
            </h4>
            <p class="newsletter-description">
                Mantente al día con las últimas tendencias en marketing digital, desarrollo web, diseño UI/UX, y más,
                directo en tu bandeja de entrada.
            </p>
            <div class="newsletter-form">
                <form class="subscription">
                    <div class="add-email">
                        <input type="email" placeholder="Ingresa tu correo electrónico">
                        <button type="button">Suscribirse</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--Fin de la Sección de Boletín Informativo-->

    <!--Sección de Pie de Página-->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-coloum-one">
                <h1 class="footer-main-heading">Agencia Digital</h1>
                <p class="footer-coloum-one-description">
                    GoldenWeb, tu aliado en soluciones digitales avanzadas, dedicados a impulsar tu presencia en línea y
                    promover el crecimiento de tu negocio.
                </p>
            </div>
            <div class="footer-coloum-two">
                <h1 class="footer-main-heading">Empresa</h1>
                <div class="footer-one-menu">
                    <i class="fa fa-angle-double-right footer-angle"><a href="#">Centro de Ayuda</a></i>
                    <i class="fa fa-angle-double-right footer-angle"><a href="#">Sobre Nosotros</a></i>
                    <i class="fa fa-angle-double-right footer-angle"><a href="#">Blog</a></i>
                    <i class="fa fa-angle-double-right footer-angle"><a href="#">Preguntas Frecuentes</a></i>
                </div>
            </div>
            <div class="footer-coloum-three">
                <h1 class="footer-main-heading">Privacidad</h1>

                <div class="footer-one-menu">
                    <i class="fa fa-angle-double-right footer-angle"><a href="#">Términos y Condiciones</a></i>
                    <i class="fa fa-angle-double-right footer-angle"><a href="#">Soporte</a></i>
                    <i class="fa fa-angle-double-right footer-angle"><a href="#">Expertos</a></i>
                    <i class="fa fa-angle-double-right footer-angle"><a href="#">Política de Privacidad</a></i>
                </div>
            </div>
            <div class="footer-coloum-four">
                <h1 class="footer-main-heading">Contáctanos</h1>
                <div class="footer-contact">
                    <i class="fa fa-envelope"></i><span>supportgoldenweb.com</span>
                </div>
                <div class="footer-contact">
                    <i class="fa fa-phone"></i><span>+923000000000</span>
                </div>
                <div class="footer-contact">
                    <i class="fa fa-globe"></i><span>supportgoldenweb.com</span>
                </div>
                <div class="footer-contact">
                    <a href=""><i class="fa fa-facebook footer-icon"></i></a>
                    <a href=""><i class="fa fa-twitter footer-icon"></i></a>
                    <a href=""><i class="fa fa-linkedin footer-icon"></i></a>
                    <a href=""><i class="fa fa-pinterest footer-icon"></i></a>
                </div>

            </div>
        </div>
        <div class="footer-line">
            <hr>
        </div>
        <div class="footer-underline-menu">
            <div class="footer-credit">
                <span>Diseñado por:<a href="#">Daniel Roa</a></span>
            </div>
            <div class="footer-underline-menu-items">
                <a href="#">Términos de Uso</a>
                <a href="#">Portafolio</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Contáctanos</a>
                <a href="#">Preguntas Frecuentes</a>
            </div>
        </div>
    </footer>
    <!--Fin de la Sección de Pie de Página-->

</body>
